@media (max-width:1080px){

}
@media (max-width:991px){
	
}
@media (max-width: 768px){

}
@media (max-width: 376px){
	.container_form .form-group input{
		margin-top: 1rem;
		
	}
 	.button .search{
    border: none;
    margin-top: 5px;
    margin-left: 0px;
    text-align: center;

}
.social-media{
    margin-left: 29px;
    
}
}
@media (max-width: 330px){
	.container_form .form-group{
		margin-top: 1rem;
		font-size: 0.5rem;
	}

}